{
  "arrowParens": "always",
  "semi": true,
  "tabWidth": 2,
  "singleQuote": false,
  "trailingComma": "all",
  "importOrder": [
    "^@motion-canvas/(.*)$",
    "^@components/(.*)$",
    "^@utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"]
}
